# unSAGED
DEFAULT_MODEL=gpt-3.5-turbo
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.

# OpenAI
OPENAI_API_KEY=YOUR_KEY
OPENAI_API_HOST=https://api.openai.com
OPENAI_API_TYPE=openai

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Auth
NEXT_PUBLIC_AUTH_ENABLED=false

NEXTAUTH_EMAIL_PATTERN=
NEXTAUTH_URL=
# You can get secret with `openssl rand -base64 32`
NEXTAUTH_SECRET=

# Learning URL
NEXT_PUBLIC_LEARNING_URL=
