.cache-loader
.DS_Store
.pnpm-debug.log
.turbo
.vscode/generated*
/_work
/actions-runner
node_modules
patches
pnpm-lock.yaml
*.d.ts
*.d.ts.map

.next

.docusaurus
build
docs/docs/reference/core
docs/docs/reference/sveltekit
static
docs/manifest.mjs